.select-type-container {
    display: flex;
    flex-direction: column;
  }
  
  .select-type-label {
    font-size: 14px;
    font-weight: bold;
  }
  .select-type-input,
  .select-type-select {
    margin-top: 4px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 10px 10px 15px grey;
    outline: none;
    font-size: 14px;
    margin-right: 10px;
    padding: 14px 10px;
  }
  .select-type-button {
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    margin-top: 6px;
    cursor: pointer;
  }
  .select-type-toggle-button {
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    margin-top: 10px;
  }
  .select-type-edit-options {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .select-type-edit-input {
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    margin: 5px 5px;
    border: none;
  }
    .select-type-edit-button,
  .select-type-delete-button {
    border-radius: 10px;
    padding: 4px 10px;
    outline: none;
    margin-left: 8px;
    opacity: 0.8;
    cursor: pointer;
  }
  .select-type-delete-button {
    background-color: maroon;
    color: white;
  }
  