.form-view-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 0px black;
  background-color: white;
  padding: 20px;
  margin: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin: 0px;
  }
}

/* Styles for the AddField container */
.add-field-container {
  width: 80%;
  border: 1px dashed black;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.add-field-container.disabled {
  cursor: none;
}

.add-field-text {
  margin: 0;
}

.add-field-text .plus-sign {
  font-size: 20px;
  margin: 0;
  margin-right: 6px;
}
.fields-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-item {
  margin: 10px 0;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}
.form-container{
  box-sizing: border-box;
}